In [1]:
import pandas as pd

dataDic = {
    'city': ['Warsaw', 'Warsaw', 'Krakow', 'Krakow'],
    'year': [2020, 2021, 2021, 2022],
    'population': [1.7, 1.8, 0.7, 0.8]
}
df = pd.DataFrame(dataDic)
df

     city  year  population
0  Warsaw  2020         1.7
1  Warsaw  2021         1.8
2  Krakow  2021         0.7
3  Krakow  2022         0.8

In [2]:
pd.DataFrame(dataDic, columns=['population', 'city', 'area'])

   population    city area
0         1.7  Warsaw  NaN
1         1.8  Warsaw  NaN
2         0.7  Krakow  NaN
3         0.8  Krakow  NaN

In [3]:
df2 = pd.DataFrame(dataDic, index=['a', 'b', 'c', 'd'])
df2

     city  year  population
a  Warsaw  2020         1.7
b  Warsaw  2021         1.8
c  Krakow  2021         0.7
d  Krakow  2022         0.8

In [4]:
df2.name = 'Population'
df2.index.name = 'case'
df2

        city  year  population
case
a     Warsaw  2020         1.7
b     Warsaw  2021         1.8
c     Krakow  2021         0.7
d     Krakow  2022         0.8

In [5]:
df2.columns

Index(['city', 'year', 'population'], dtype='object')

In [6]:
df['population']

0    1.7
1    1.8
2    0.7
3    0.8
Name: population, dtype: float64

In [7]:
df.population

0    1.7
1    1.8
2    0.7
3    0.8
Name: population, dtype: float64

In [8]:
df3 = pd.DataFrame(dataDic, columns=['columns', 'year', 'pop'])
df3

  columns  year  pop
0     NaN  2020  NaN
1     NaN  2021  NaN
2     NaN  2021  NaN
3     NaN  2022  NaN

In [9]:
df3.columns

Index(['columns', 'year', 'pop'], dtype='object')

In [10]:
df3['columns']

0    NaN
1    NaN
2    NaN
3    NaN
Name: columns, dtype: object

In [11]:
df2.loc['a']

city          Warsaw
year            2020
population       1.7
Name: a, dtype: object

In [12]:
df3['pop'] = 'over500K'
df3

  columns  year       pop
0     NaN  2020  over500K
1     NaN  2021  over500K
2     NaN  2021  over500K
3     NaN  2022  over500K

In [14]:
import numpy as np
df2['year'] = np.arange(2019, 2023)
df2

        city  year  population
case
a     Warsaw  2019         1.7
b     Warsaw  2020         1.8
c     Krakow  2021         0.7
d     Krakow  2022         0.8

In [15]:
df2['population'] = pd.Series(['1.6', '0.6'], index = ['a', 'c'])
df2

        city  year population
case
a     Warsaw  2019        1.6
b     Warsaw  2020        NaN
c     Krakow  2021        0.6
d     Krakow  2022        NaN

In [16]:
df2['historical capital'] = df2.city == 'Krakow'
df2

        city  year population  historical capital
case
a     Warsaw  2019        1.6               False
b     Warsaw  2020        NaN               False
c     Krakow  2021        0.6                True
d     Krakow  2022        NaN                True

In [17]:
del df2['historical capital']
df2

        city  year population
case
a     Warsaw  2019        1.6
b     Warsaw  2020        NaN
c     Krakow  2021        0.6
d     Krakow  2022        NaN

In [18]:
df2.T

case             a       b       c       d
city        Warsaw  Warsaw  Krakow  Krakow
year          2019    2020    2021    2022
population     1.6     NaN     0.6     NaN

In [19]:
df2

        city  year population
case
a     Warsaw  2019        1.6
b     Warsaw  2020        NaN
c     Krakow  2021        0.6
d     Krakow  2022        NaN

In [21]:
df2T = df2.T
df2T

case             a       b       c       d
city        Warsaw  Warsaw  Krakow  Krakow
year          2019    2020    2021    2022
population     1.6     NaN     0.6     NaN

In [22]:
df2T = df2T.T
df2T

        city  year population
case
a     Warsaw  2019        1.6
b     Warsaw  2020        NaN
c     Krakow  2021        0.6
d     Krakow  2022        NaN

In [23]:
df2.columns.name = 'attributes'
df2

attributes    city  year population
case
a           Warsaw  2019        1.6
b           Warsaw  2020        NaN
c           Krakow  2021        0.6
d           Krakow  2022        NaN

In [24]:
df2['year'].values

array([2019, 2020, 2021, 2022])

In [25]:
df2.values

array([['Warsaw', 2019, '1.6'],
       ['Warsaw', 2020, nan],
       ['Krakow', 2021, '0.6'],
       ['Krakow', 2022, nan]], dtype=object)

In [27]:
ser = pd.Series(range(3), index=['alfa', 'beta', 'gamma'])
ser

alfa     0
beta     1
gamma    2
dtype: int64

In [28]:
ind = ser.index
ind

Index(['alfa', 'beta', 'gamma'], dtype='object')

In [29]:
df2, 'b' in df2.index

(attributes    city  year population
 case
 a           Warsaw  2019        1.6
 b           Warsaw  2020        NaN
 c           Krakow  2021        0.6
 d           Krakow  2022        NaN,
 True)

In [30]:
nonUniqueIndex = pd.Index([1, 3, 3, 5])
nonUniqueIndex

Int64Index([1, 3, 3, 5], dtype='int64')

In [31]:
df2.index = nonUniqueIndex
df2.loc[3]

attributes    city  year population
3           Warsaw  2020        NaN
3           Krakow  2021        0.6