In [1]:
import pandas as pd

ser = pd.Series([10,20,30,40,50,60])
ser

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [2]:
ser.head(3)

0    10
1    20
2    30
dtype: int64

In [3]:
ser.values

array([10, 20, 30, 40, 50, 60], dtype=int64)

In [4]:
ser.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
ser2 = pd.Series([2,3,5,7], index=['bela', 'ala', 'tola', 'ela'])
ser2

bela    2
ala     3
tola    5
ela     7
dtype: int64

In [6]:
ser2.index

Index(['bela', 'ala', 'tola', 'ela'], dtype='object')

In [7]:
ser2['ela']

7

In [8]:
ser2[['tola', 'bela']]

tola    5
bela    2
dtype: int64

In [9]:
ser2[3]

7

In [11]:
ser2[[2,1]]

tola    5
ala     3
dtype: int64

In [12]:
ser2[ser2 > 4]

tola    5
ela     7
dtype: int64

In [13]:
ser2[1:2]

ala    3
dtype: int64

In [14]:
ser2 * 2

bela     4
ala      6
tola    10
ela     14
dtype: int64

In [15]:
import numpy as np
np.log(ser2)

bela    0.693147
ala     1.098612
tola    1.609438
ela     1.945910
dtype: float64

In [16]:
'ela' in ser2

True

In [17]:
serDic = {'VW':1.9, 'Subaru':2.5, 'Mercedes':3.0}
ser3 = pd.Series(serDic)
ser3

VW          1.9
Subaru      2.5
Mercedes    3.0
dtype: float64

In [18]:
index3 = ['Subaru', 'Volvo', 'VW', 'Mercedes']
ser4 = pd.Series(serDic, index=index3)
ser4

Subaru      2.5
Volvo       NaN
VW          1.9
Mercedes    3.0
dtype: float64

In [19]:
index3.sort()
ser4a = pd.Series(serDic, index=index3)
ser4a

Mercedes    3.0
Subaru      2.5
VW          1.9
Volvo       NaN
dtype: float64

In [20]:
pd.isnull(ser4)

Subaru      False
Volvo        True
VW          False
Mercedes    False
dtype: bool

In [21]:
pd.notnull(ser4)

Subaru       True
Volvo       False
VW           True
Mercedes     True
dtype: bool

In [22]:
ser4.notnull()

Subaru       True
Volvo       False
VW           True
Mercedes     True
dtype: bool

In [23]:
ser3

VW          1.9
Subaru      2.5
Mercedes    3.0
dtype: float64

In [24]:
ser4

Subaru      2.5
Volvo       NaN
VW          1.9
Mercedes    3.0
dtype: float64

In [25]:
ser3 + ser4

Mercedes    6.0
Subaru      5.0
VW          3.8
Volvo       NaN
dtype: float64

In [26]:
ser4.name = 'cars'
ser4.index.name = 'car'
ser4

car
Subaru      2.5
Volvo       NaN
VW          1.9
Mercedes    3.0
Name: cars, dtype: float64

     city  year  population
a  Warsaw  2020         1.7
b  Warsaw  2021         1.8
c  Krakow  2021         0.7
d  Krakow  2022         0.8

        city  year  population
case
a     Warsaw  2020         1.7
b     Warsaw  2021         1.8
c     Krakow  2021         0.7
d     Krakow  2022         0.8